body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.game {
    display: table;
    margin: auto auto;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.cell {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 0px;
    height: 24px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 24px;
    outline: none;
}

.cell:focus {
    outline: none;
    background: #ddd;
}