<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Minesweeper</title>
</head>

<body>
    <div id="app">
        <section class="hero is-dark">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Primary bold title
                    </h1>
                    <h2 class="subtitle">
                        Primary bold subtitle
                    </h2>
                </div>
            </div>
        </section>
        <div class="c-test">
            <table class="table is-bordered">
                <tr v-for="row of gameState.game.grid.cells">
                    <td v-for="square of row">
                        {{ square.nearbyBombs }}
                    </td>
                </tr>
            </table>
        </div>

        <!-- switch between the above and below depending on table size-->

        <!--
        <div class="columns is-centered is-narrow c-test">
            <div class="column is-narrow c-minefield" v-if="gameState">
                <table class="table is-bordered">
                    <tr v-for="row of gameState.game.grid.cells">
                        <td v-for="square of row">
                            {{ square.nearbyBombs }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        -->
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
    </div>
</body>

<footer>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="data.js"></script>
    <script src="main.js"></script>
</footer>

</html>